<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/home.css">
    <title>Recetas</title>
</head>

<body>

    <aside>
        <header>
            <nav>
                <button id="vegetarianas" type="button">Vegetarianas</button>
                <button id="no-vegetarianas" type="button">No Vegetarianas</button>
                <button id="cerrar-sesion" type="button">Cerrar Sesión</button>
            </nav>
        </header>
    </aside>
    <main>
        <h1>Recetas</h1>
        <div>
            <nav>
                <button>Filtrar por nombre</button>
                <button>Filtrar por dificultad</button>
                <button>Filtrar por tipo</button>
            </nav>
            <section class="cards" id="contenido">

            </section>
        </div>
    </main>

    <script type="module" src="../../view/public/js/script.js"></script>
</body>

</html>